body{
    background-color: rgb(178, 112, 92);
}

.menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration : none;
    color: white;
    background-color: rgb(137, 86, 70);
    backdrop-filter: blur(2px);
    padding: 5px;
    border-radius:10px;
    transition: .7s;
}

a:hover {
    background-color:rgb(224, 169, 151);
    color: rgb(0, 0, 0);
    transition: .7s;
}

.container-cdeb {
    background-color: rgb(153, 96, 78);
    border-radius: 10px;
    margin: 10px;
}

.speech-cdeb{
    display: flex;
    justify-content: center;
}